histo_class/local-worker/4g_0jhgy/92c9053f-8d1c-4308-bba0-78abe7045e26/description.md
histo_class/local-worker/4g_0jhgy/92c9053f-8d1c-4308-bba0-78abe7045e26/histo_opener.py
histo_class/local-worker/85akzcvz/23bb1d17-67c4-4300-bdb0-2ab86d5bc617/algo.tar.gz
histo_class/local-worker/85akzcvz/23bb1d17-67c4-4300-bdb0-2ab86d5bc617/description.md
histo_class/local-worker/9hpdwuo8/b77c5855-48e4-4036-84ed-5a8a1843d6c4/description.md
histo_class/local-worker/9hpdwuo8/b77c5855-48e4-4036-84ed-5a8a1843d6c4/histo_opener.py
histo_class/local-worker/_dwyvi1l/844c3a21-6d7c-458c-b6f9-37bc8ca363e2/description.md
histo_class/local-worker/_dwyvi1l/844c3a21-6d7c-458c-b6f9-37bc8ca363e2/histo_opener.py
histo_class/local-worker/cp723uf4/1b93a379-60ac-4c0f-9ebb-896849840f7a/algo.tar.gz
histo_class/local-worker/cp723uf4/1b93a379-60ac-4c0f-9ebb-896849840f7a/description.md
histo_class/local-worker/dobi73ao/d778dbca-da8d-4e4c-bf72-572ed19e3ccf/description.md
histo_class/local-worker/dobi73ao/d778dbca-da8d-4e4c-bf72-572ed19e3ccf/histo_opener.py
histo_class/local-worker/dxqdia0e/ae08fbf7-28c2-40a5-9ab5-e895b80c6a53/algo.tar.gz
histo_class/local-worker/dxqdia0e/ae08fbf7-28c2-40a5-9ab5-e895b80c6a53/description.md
histo_class/local-worker/egjfm116/fc145c93-238b-45f7-85e7-0c62601113a3/description.md
histo_class/local-worker/egjfm116/fc145c93-238b-45f7-85e7-0c62601113a3/histo_opener.py
histo_class/local-worker/euzkdsqt/b1dccf12-36a7-4dba-bbe3-94024d012aeb/algo.tar.gz
histo_class/local-worker/euzkdsqt/b1dccf12-36a7-4dba-bbe3-94024d012aeb/description.md
histo_class/local-worker/fu3silen/8e3cd7b7-a525-42f0-90e5-ddc92c88e9c6/description.md
histo_class/local-worker/fu3silen/8e3cd7b7-a525-42f0-90e5-ddc92c88e9c6/histo_opener.py
histo_class/local-worker/ie3hahg5/2a625cf8-8e24-4c14-9e89-a1b711e3fb4b/algo.tar.gz
histo_class/local-worker/ie3hahg5/2a625cf8-8e24-4c14-9e89-a1b711e3fb4b/description.md
histo_class/local-worker/nc8yy3fp/2f290875-6034-4c41-b503-cc4ced750e58/description.md
histo_class/local-worker/nc8yy3fp/2f290875-6034-4c41-b503-cc4ced750e58/histo_opener.py
histo_class/local-worker/o_av_ovw/d03cc769-7801-41bb-a356-ee8c7c7f5c5d/description.md
histo_class/local-worker/o_av_ovw/d03cc769-7801-41bb-a356-ee8c7c7f5c5d/histo_opener.py
histo_class/local-worker/ruc4f_2k/db019133-8fb7-459d-ae24-8e4fda19ff84/description.md
histo_class/local-worker/ruc4f_2k/db019133-8fb7-459d-ae24-8e4fda19ff84/histo_opener.py
histo_class/local-worker/s3snm_0n/46c91ae2-1bab-4b0d-bea2-34f07aa7fbcb/description.md
histo_class/local-worker/s3snm_0n/46c91ae2-1bab-4b0d-bea2-34f07aa7fbcb/histo_opener.py
histo_class/local-worker/u_glok2d/3f52cecb-965f-43dc-9fb1-1a457393b7a7/description.md
histo_class/local-worker/u_glok2d/3f52cecb-965f-43dc-9fb1-1a457393b7a7/histo_opener.py
histo_class/local-worker/vivay9ja/9be91e57-9621-4d9d-a6d4-0d6de0422a18/description.md
histo_class/local-worker/vivay9ja/9be91e57-9621-4d9d-a6d4-0d6de0422a18/histo_opener.py
histo_class/local-worker/w8bspnhm/0cccffc4-b6dd-4f60-bc1c-d9a2dc6817b3/algo.tar.gz
histo_class/local-worker/w8bspnhm/0cccffc4-b6dd-4f60-bc1c-d9a2dc6817b3/description.md
histo_class/tf_fedavg_assets/dataset/__pycache__/histo_dataset.cpython-39.pyc
histo_class/tmp/data_histo/org_1/test/test_images.npy
histo_class/tmp/data_histo/org_1/test/test_labels.npy
histo_class/tmp/data_histo/org_1/train/train_images.npy
histo_class/tmp/data_histo/org_1/train/train_labels.npy
histo_class/tmp/data_histo/org_2/test/test_images.npy
histo_class/tmp/data_histo/org_2/test/test_labels.npy
histo_class/tmp/data_histo/org_2/train/train_images.npy
histo_class/tmp/data_histo/org_2/train/train_labels.npy
histo_class/tf_fedavg_assets/dataset/__pycache__/histo_dataset.cpython-39.pyc
