local-worker
tmp/data_histo

histo_class/local-worker
histo_class/tmp
histo_class/tf_fedavg_assets/dataset/__pycache__

histo_class/tensorflow_algorithms/__pycache__

run_histo_tf_failed_merge.ipynb





